<div class="container-fluid">
  <h2>Notes</h2>
    <div id="map"></div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'name'">
         <a href="#" ng-click="openInfoWindow($event, marker)"></a>
    <a ui-sref="bankFinder.main.branchDetails({branchLat: {{marker.lat}}, branchLng: {{marker.lng}} })"> Click here for more info </a>
    </div>
  <section>
    {{ message }}
  <p>This is a bank address: {{banks[0].address}} </p>
 <!-- <p ng-repeat="bank in banks">{{bank.lat}} {{bank.lng}} </p>  -->
  </section>  

</div>
