#messages {
  color: #d3d3d3;
}
#map {
  height: 480px;
  width: 640px;
}
.infoWindow {
  font-size: 10px;
  border-top: 1px solid #ccc;
  padding-top: 8px;
}
h2 {
  margin-bottom: 0;
  margin-top: 0;
}
