#messages {
  color: #d3d3d3;
}
#map {
  margin-top: 30px;
  margin-bottom: 10px;
}
#top {
  margin-top: 3px;
}
.no-sidebar {
  padding: 100px;
}
.navbar-nav {
  margin-bottom: 5px;
}
.infoWindow {
  font-size: 10px;
  border-top: 1px solid #ccc;
  padding-top: 8px;
}
h2 {
  margin-bottom: 0;
  margin-top: 0;
}
#bankInfo {
  padding-top: 30px;
}
